/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    --section-padding: 48px 0;
    --first-heading: 48px;
    --second-heading: 36px;
    --third-heading: 28px;
    --forth-heading: 20px;
    --fifth-heading: 18px;
    --sixth-heading: 16px;
    --para-text: 14px;
    --small-text: 12px;
    --font-margin-3: 24px;
    --font-margin-6: 48px;
    --font-margin-7: 64px;
    --common-box-padding: 12px 18px;

    /* var(--text-light-color); */
  }

  .hero-section .row {
    flex-direction: column-reverse;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .hero-section .text-col {
    padding: 0 15px;
  }

  .footer-bottom {
    justify-content: center;
    gap: 10px;
  }

  .blob-wrapper:before {
    left: 10px;
  }

  .blob-image {
    margin-right: -10px;
  }

  .blob-wrapper {
    width: 70%;
    margin: 0 auto 24px;
  }

  .heading-primary,
  .text-col p,
  .services-text .block .heading-secondary,
  .services-text .block p,
  .blog-text,
  .famous-text {
    text-align: center;
  }

  .services-section {
    margin-bottom: var(--font-margin-3);
  }

  .hero-section .btns-container {
    flex-wrap: wrap;
  }

  .blog-card {
    flex-direction: column;
    justify-content: center;
  }

  .famous-img {
    margin-bottom: var(--font-margin-6);
    width: 80%;
  }

  .services-text {
    padding-left: 0;
  }

  .services-text .text-active {
    padding-left: 15px;
  }

  .discover-section {
    padding: 64px 0 30px;
  }

  .desktop-links {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .blog-card {
    height: auto;
    margin-bottom: 30px;
  }

  .blog-section .row>.col-lg-6:nth-last-child(1) .blog-card {
    margin-bottom: 0;
  }

  .footer-bottom-2 .bottom-links a {
    font-size: var(--small-text);
  }
  .footer-bottom-2 .bottom-links {
    gap: 12px;
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .mobile-sidebar {
    display: none;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  :root {
    --section-padding: 28px 0;
    --first-heading: 28px;
    --second-heading: 25px;
    --third-heading: 21px;
    --forth-heading: 17px;
    --fifth-heading: 16px;
    --sixth-heading: 15px;
    --para-text: 14px;
    --small-text: 12px;
    --font-margin-3: 20px;
    --font-margin-6: 36px;
    --font-margin-7: 48px;
    --common-box-padding: 8px 16px;

    /* var(--text-light-color); */
  }

  .footer-bottom .social-icons {
    flex-wrap: wrap;
  }

  .footer-section .footer-logo {
    width: 134px;
  }

  .social-icons a,
  .footer-bottom .store-btns img, .footer-bottom .store-btns a {
    width: 36px;
    height: 36px;
  }

  .footer-bottom .social-icons, .footer-bottom .store-btns {
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footer-bottom .store-btns {}

  .footer-bottom-2 .bottom-links {
    flex-wrap: wrap;
    gap: 18px;
  }

  .cta-btn,
  .arw-btn {
    width: 100%;
  }

  .CommunityCommetBody .aritcleUseImg {
    width: 64px;
    height: 64px;
  }

  .aritcleCommentContent .chatImg {
    width: 184px;
    height: 184px;
  }

  .text-col p {
    font-size: var(--para-text);
    word-spacing: 1px;
  }

  .blog-card .blog-img {
    width: 100%;
    height: auto;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: var(--font-margin-3);
  }

  .hero-section {
    height: auto;
    padding-bottom: 40px;
  }

  .discover-section h5 {
    font-size: var(--third-heading);
  }

  .arw-link {
    font-size: 15px;
  }
}

/* Optional: tighten on very small screens */
@media (max-width: 380px) {
  .patientWritMsgBx .msg-input {
    padding-right: 92px;
  }

  .patientWritMsgBx .icon-btn.upload {
    right: 50px;
  }
}