@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-color: #060402;
  --text-light-color: #828180;
  --primary-color: #8f5432;
  --primary-color-light: #fff7ed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: var(--primary-color);
}

p {
  color: var(--text-light-color);
}

img {
  width: 100%;
  height: auto;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px #000, 0 6px 12px -2px rgba(50, 50, 97, 0.25),
    0 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(0);
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.heading-primary,
.heading-secondary,
.heading-tertiary,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Fredoka", sans-serif;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
}

.heading-primary {
  font-size: 64px;
  line-height: 1.05;
}

.heading-secondary {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 64px;
}

.heading-tertiary {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.subheading {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  box-shadow: inset 0 0 0 3px #fff;
}

*:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.active > .page-link,
.page-link.active {
  background: #8f5432;
  border-color: #8f5432;
  color: #fff;
}
